<!DOCTYPE html>
<html>
    <head>
        <title> Help </title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel='icon' href="/img/weather.png">
    </head>

    <body>
        <div class ='main-content'>
        {{>header}}
        <p> {{text}} <a href="mailto:nileshnj993@gmail.com?subject=Reg. Weather App"> nileshnj993@gmail.com</a></p>
       
        </div>
        {{>footer}}
     
    </body>
</html>